/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  hyphens: auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* HOME PAGE STYLES*/
/* HOME PAGE STYLES*/

h1 {
  font-size: 3em;
  margin: 10px 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
  font-weight: 700;
}
table {
  width: 100%;
}
tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
tr:nth-child(2n +1) {
  background: #888;
}
.hide-desktop, .hide-desktop-flex {
  display: none !important;
}
.hide-mobile {
  display: block !important;
}
.hide-mobile-flex {
  display: flex !important;
}
.link {
  text-decoration: none;
  font-weight: 600;
  color: #339696;
}
.main {
  display: inline-block;
  width: 100%;
  font-family: 'PT Sans', Sans-Serif;
}
.page-one {
  background: url('images/smiling-children.jpg') no-repeat top center;
  padding-bottom: 80px;
}
.header {
  margin: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity .12s ease-in-out, transform .12s ease-in-out;
}
.back-button-chevron {
  font-size: 1.6em;
  margin-right: 8px;
}
.back-button-text {
  font-size: 1.4em;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.title {
  color: #339696;
  font-weight: 700;
}
.subtitle {
  color: #963333;
  font-weight: 700;
}
.quick-contact {
  font-size: 1.4em;
  transition: opacity .12s ease-in-out, transform .12s ease-in-out;
}

/* Page One | Activity Section */
/* Page One | Activity Section */

.activity-section {
  position: relative;
  height: 409px;
  width: 1024px;
  background: #339696;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 30px solid #808080;
  border-radius: 8px;
}
.blurb {
  width: 575px;
  overflow: scroll;
  color: #fff;
}
.blurb-header {
  padding: 20px 0;
}
.blurb-body {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 2em;
}
.schedule {
  position: absolute;
  right: 40px;
  width: 350px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /*overflow: hidden;*/
  box-shadow: -5px -5px 10px rgba(0,0,0,0.2);
  z-index: 0;
}
.schedule::before {
  position: absolute;
  bottom: -30px;
  left: -30px;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid #505050;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: -1;
}
.schedule-header {
  background: #fff;
  color: #963333;
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.schedule-toggle {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.5em;
}
.day-toggle {
  background: #e3e3e3;
  padding: 10px 0;
  cursor: pointer;
  color: #339696;
  font-weight: 700;
  /*transition: color .12s ease-in-out;*/
}
.toggle-main {
  width: 58%;
}
.toggle-alt {
  width: 42%;
}
.toggle-active {
  background: #c9c9c9 !important;
  color: #478080 !important;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.25);
  /*transition: box-shadow .12s ease-in-out, background .12s ease-in-out, color .12s ease-in-out;*/
}
.schedule-info {
  display: flex;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  background: #808080;
  background: linear-gradient(#808080, #707070);
  color: #fff;
}

/* Transition | Dividing Line */
/* Transition | Dividing Line */

.dividing-line {
  background: #808080;
  height: 20px;
  width: 100%;
}

/* Page Two | Contact Section */
/* Page Two | Contact Section */

.page-two {
  background: url('images/point-arena.jpg') no-repeat center center;
  background-size: cover;
  padding: 80px 0;
}

.contact-section {
  position: relative;
  width: 1024px;
  height: 510px;
  background: #963333;
  color: #fff;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 30px solid #808080;
  border-radius: 8px;
}
.contact-form-container {
  position: absolute;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /*overflow: hidden;*/
  box-shadow: 5px -5px 10px rgba(0,0,0,0.2);
  z-index: 0;
}
.contact-form-container:before {
  position: absolute;
  bottom: -30px;
  right: -30px;
  content: '';
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid #505050;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: -1;
}
.contact-form-header {
  background: #fff;
  color: #963333;
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.contact-form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background: #808080;
  background: linear-gradient(#808080, #707070);
  color: #bfbfbf;
}
.input-group {
  margin: 10px 0;
}
.input-label {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 700;
  cursor: default;
}
.input-field {
  width: 350px;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 700;
  color: #808080;
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  resize: none;
}
textarea.input-field {
  height: 88px;
}
.submit-button {
  background: #fff;
  border-radius: 8px;
  padding: 10px 0;
  margin: 10px 0;
  color: #808080;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: color .12s ease-in-out, box-shadow .12s ease-in-out;
}
.contact-blurb-container {
  margin-left: 40%;
  padding-left: 50px;
}
.contact-blurb-header {
  padding: 20px 0;
}
.contact-blurb-body {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 2em;
}
.contact-info-group {
  margin: 20px 0;
}
.contact-label {
  font-weight: 600;
  line-height: 1.5em;
  color: #cc6361;
  padding-bottom: 10px;
}
.contact-info {
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
}

/* Footer | Copyright Section */
/* Footer | Copyright Section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 40px;
  background: #808080;
  color: #E3E3E3;
  font-size: .8em;
}
.school-info {

}

/* SMALL MOBILE SCREENS */
/* SMALL MOBILE SCREENS */

@media screen and (min-width: 320px) and (max-width: 900px) {
  h3 {
    line-height: 1.3em;
  }
  .hide-mobile, .hide-mobile-flex {
    display: none !important;
  }
  .hide-desktop {
    display: block !important;
  }
  .hide-desktop-flex {
    display: flex !important;
  }
  .page-one {
    background-size: cover;
    padding-bottom: 40px;
  }
  .back-button, .quick-contact {
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-around;
    font-size: 1.4em;
    background: #F3F3F3;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
  }
  .back-button:active, .quick-contact:active {
    transform: scale(0.95);
  }

  .back-button-chevron, .call-now-icon {
    width: 25px !important;
    height: 25px !important;
    margin: 0;
  }

  .back-button-chevron {
    margin: 0;
  }
  .back-button-text {
    display: none;
  }
  .title-container {
    text-align: center;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.3em;
  }
  .header {
    margin: 20px 20px 0 20px;
    align-items: flex-end;
  }
  .mobile-header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
  }
  .activity-section {
    height: auto;
    width: auto;
    position: relative;
    flex-direction: column;
    background: #339696;
    margin: 0 5px;
    padding: 15px;
    border-radius: 20px;
  }
  .schedule {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  .schedule::before {
    display: none;
  }
  .blurb {
    width: auto;
    overflow: auto;
  }
  .schedule-toggle {
    font-size: 1.1em;
  }
  .page-two {
    padding: 40px 0;
  }
  .contact-section {
    height: auto;
    width: auto;
    position: relative;
    flex-direction: column;
    margin: 0 5px;
    padding: 15px;
    border-radius: 20px;
  }
  .contact-form-container {
    position: relative;
    width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  .contact-form-container::before {
    display: none;
  }
  .contact-form-inputs {
    padding: 10px;
  }
  .input-field {
    width: 100%;
  }
  .submit-button:active {
    color: #808080;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
  }
  .contact-blurb-container {
    margin: 0;
    padding: 0;
  }
  .contact-info {
    font-size: 1.2em;
  }
  .footer {
    height: auto;
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }
  .school-info {
    margin-bottom: 10px
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .header {
    width: 580px;
    margin: 30px auto 10px auto;
  }
  .activity-section, .contact-section {
    width: 580px;
    margin: 0 auto;
  }
  .mobile-header-links {
    width: 580px;
    margin: 0 auto 20px auto;
  }
  .back-button, .quick-contact {
    justify-content: center;
  }
  .mobile-header-button-text {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .day-toggle:hover {
    color: #1fa8a8;
  }
  .back-button:hover {
    opacity: .75;
    transform: translateX(-4px);
  }
  .quick-contact:hover {
    opacity: .75;
    transform: scale(1.05);
  }
  .submit-button:hover {
    color: #666;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .submit-button:active {
    color: #808080;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}